
.tree-pages-view>div {
/*    position: fixed;
    width: 100%;
    display: flex;*/
    	position: relative;
    	width: 100%;
    	height: 100%;

}

.tree-pages-view>single {
    position: fixed;
    width: 100%;
}

/* Enter & Leave */

/* Start of entering */
.tree-pages-view-enter {
  /*opacity: 0.01;*/
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

/* End of entering */
.tree-pages-view-enter.tree-pages-view-enter-active {
  /*opacity: 1;
  transition: opacity 500ms ease-in;*/

  transform: translateX(0%);
  -webkit-transform: translateX(0%);

  transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* Start of leaving */
.tree-pages-view-leave {
  /*opacity: 1;*/
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

/* End of leaving */
.tree-pages-view-leave.tree-pages-view-leave-active {
  /*opacity: 0.01;
  transition: opacity 500ms ease-in;*/

  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);

  transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}




/* Start of entering */
.tree-pages-view-left-enter {
  /*opacity: 0.01;*/
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

/* End of entering */
.tree-pages-view-left-enter.tree-pages-view-left-enter-active {
  /*opacity: 1;
  transition: opacity 500ms ease-in;*/

  transform: translateX(0%);
  -webkit-transform: translateX(0%);

  transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* Start of leaving */
.tree-pages-view-left-leave {
  /*opacity: 1;*/
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

/* End of leaving */
.tree-pages-view-left-leave.tree-pages-view-left-leave-active {
  /*opacity: 0.01;
  transition: opacity 500ms ease-in;*/

  transform: translateX(100%);
  -webkit-transform: translateX(100%);

  transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}



/* Start of entering */
.tree-pages-view-right-enter {
  /*opacity: 0.01;*/
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

/* End of entering */
.tree-pages-view-right-enter.tree-pages-view-right-enter-active {
  /*opacity: 1;
  transition: opacity 500ms ease-in;*/

  transform: translateX(0%);
  -webkit-transform: translateX(0%);

  transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* Start of leaving */
.tree-pages-view-right-leave {
  /*opacity: 1;*/
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

/* End of leaving */
.tree-pages-view-right-leave.tree-pages-view-right-leave-active {
  /*opacity: 0.01;
  transition: opacity 500ms ease-in;*/

  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);

  transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}